@import 'variables';

#contacts {
  h2 {margin-top: 40px;
      font-size: 1.2em}
  .contacts {
    margin-bottom: 60px;
  }
  table {
    width: 100%;
    margin: 0px auto;
    margin-top: -10px;
    padding: 0;
    caption {
      text-align: left;
      font-size: 1.3em;
      text-transform: uppercase;
      color: $green;
    }
    td {
      display: inline-block;
      width: 460px;
      margin: 0;
      > img {
        float: left;
      }
      > strong {
        padding-left: 10px;
        font-size: 1.2em;
      }
      ul {
      padding-left: 0px;
      list-style: none;
      display: inline-block;
        li {
          padding-bottom: 3px;
        }
        img {
          padding-right: 5px;
          text-align: left;
        }
      }
    }
  }
  #map {
    margin: 50px auto;
    img {
      width: 100%;
    }
  }
  #feedback {
    color: $green;
    input {
      display: block;
      width: 100%;
      background: #E0E0E0;
      height: 25px;
      border: none;
      border-bottom: 1px solid white;
      border-top: 1px solid #c0c0c0;
      margin: 10px 0 20px;
    }
    textarea {
      display: block;
      resize: both;
      min-height: 85px;
      width: 100%;
      max-height: 200px;
      border: none;
      border-bottom: 1px solid white;
      border-top: 1px solid #c0c0c0;
      background: #E0E0E0;
      margin: 10px 0 20px;
    }
    button {
      border: none;
      padding: 10px 15px;
      color: white;
      background: green;
      font-size: .9em;
      cursor: pointer;
    }
  }
}
