<div class="container_12">
  <div class="grid_6">
    <h1>Контакты</h1>
    <ul class="contacts">
      <li>
        <span class="contacts_pin">190020, Санкт-Петербург, Либавский пер. 5, лит. З, оф. 4</span>
      </li>
      <li >
        <span class="contacts_phone">Тел./факс: +7 (812) 309-59-66</span></li>
      <li>
        <span class="contacts_mail">Эл. почта: office@genshipcompany.com</span></li>
      </li>
    </ul>
    <span>
      <%#= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>
      «Дженерал Шипинг Компани» © 2009—2013
      <br/>
      Сайт разработан в Креативном Агентстве Woomy
    </span>
  </div>
  <div class="grid_6">
    <h1>Сферы деятельности</h1>
    <%= footer_menu.to_html %>
  </div>

