<div class="container_12">
  <h1 id='logo'>
    <a href="/"><img src="/assets/logo.png"></a>
  </h1>
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
<div class="lang">
  <ul>
    <li>en</li>
    <li>ru</li>
    <li>esp</li>
    <li>smth</li>
  </ul>
  </div>
<script>
</script>
