<div class="container_12">
  <h1 id='logo'>
    <a href="/"><img src="/assets/logo.png"></a>
  </h1>
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
<div class="lang">
  <ul>
    <li><a href="#">РУС</a></li>
    <li><a href="#" class="selected">ENG</a></li>
    <li><a href="#">ESP</a></li>
  </ul>
  </div>
<script>
</script>
