@import 'variables';

#header {
  position: fixed;
  top: 0;
  /*padding: 20px 0;*/
  width: 100%;
  min-width: 1000px;
  z-index: 100;
  @include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.33));
  margin: auto;
  background: white;
  line-height: 70px;
  #logo {
    margin: 0;
    display: inline-block;
    float: left;
    a {
      display: block;
      text-decoration: none;
      width: 240px;
      img {
        vertical-align: middle;
      }
    }
  }
  .lang {
    position: absolute;
    top: 0;
    right: 20px;
    ul {
      margin: 0
    }
    li {
      display: inline-block;
      padding-left: 10px;
      a {
        color: #d2d2d2;
        font-size: 11px;
        text-decoration: none;
        &:hover, &.selected {
          color: #808080;
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width:1250px) {
    .lang {
      display:none;
    }
  }

  #menu {
    ul {
      margin: 0;
      list-style: none;
      text-align: right;
      padding: 0px;
      li {
        display: inline-block;
        &:hover {
          background: rgba(33, 85, 112, 1);
          a, a:hover {
            color: white;
          }
        }
        a {
          display: block;
          padding: 0 15px;
          text-decoration: none;
          color: #808080;
          &:hover {
            background: rgba(33, 85, 112, 1);
            color: white;
          }
        }

        &.has-menu:hover > a {
          background: url("arr-down.png") no-repeat center right;
        }

        &.has-menu > a {
          margin-right: 15px;
          background: url("arr-down-gr.png") no-repeat center right;
          &:hover {
            background: url("arr-down.png") no-repeat center right;
          }
        }

        &.selected.has-menu > a {
          color: $link;
          background: url("arr-down-bl.png") no-repeat center right;
          &:hover {
            color: white;
            background: url("arr-down.png") no-repeat center right;
          }
        }
        &.selected.has-menu:hover > a {
          color: white;
          background: url("arr-down.png") no-repeat center right;
        }

        &.selected.has-menu .selected > a {color: $link}


        a + ul {
          display: none;
          position: absolute;
          background: rgba(33, 85, 112, 0.8);
          background: rgb(33, 85, 112)\9;
          li {
            white-space: nowrap;
            position: relative;
            display: list-item;
            text-align: left;
            line-height: 35px;
            border-top: 1px solid #09364d;
            a.has-menu-right {
              background: url("arr-right.png") no-repeat center right;
              margin-right: 15px;
              &:hover {
                background: url("arr-right.png") no-repeat center right;
              }
            }
            a {
              color: $grey;
            }
            ul {
              display: none;
              position: absolute;
              left: 180px;
              top: -1px;
              li {
                border-left: 1px solid #09364d;
              }
            }
          }
        }
      }
    }
  }
}
#header.scroll {
  padding: 10px;
}
