@import 'variables';

#ascrail2000 {
  background-color: #666;
  width: 16px!important;
  z-index: 100000!important;
  div {
    border: none !important;
    width: 15px !important;
    border-radius: 6px !important;
  }
}

#site_bar {
display: none;
}


body {
  background: $page;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: $title;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

h2 {
  text-align: left;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 700;
  color: $green;
  margin-top: 50px;
}

h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: $blue;
}

h4 {
  display: inline;
  color: #414042;
  font-weight: 700;
  font-size: 1.3em;
}

a {
  color: $link;
  text-decoration: underline;
}

#header {
  position: fixed;
  top: 0;
  /*padding: 20px 0;*/
  width: 100%;
  z-index: 100;
  @include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.33));
  margin: auto;
  background: white;
  line-height: 70px;
  #logo {
    margin: 0;
    display: inline-block;
    float: left;
    a {
      display: block;
      text-decoration: none;
      width: 240px;
      img {
        vertical-align: middle;
      }
    }
  }
  #menu {
    .select_link {
      background: rgba(33, 85, 112, 1);
      a {
        color: white;
      }
    }
    ul {
      margin: 0;
      list-style: none;
      text-align: right;
      padding: 0px;
      li {
        display: inline-block;
        .last {
          border-bottom: 1px solid #09364d;
        }
        &.selected > a {
          color: $link;
        }
        a {
          display: block;
          padding: 0 20px;
          text-decoration: none;
          color: $basic;
        }
        a:hover {
          background: rgba(33, 85, 112, 1);
          color: white;
        }
        a + ul {
          display: none;
          position: absolute;
          background: rgba(33, 85, 112, .8);
          li {
            white-space: nowrap;
            position: relative;
            display: list-item;
            text-align: left;
            line-height: 35px;
            border-top: 1px solid #09364d;
            a {
              color: $grey;
            }
            ul {
              display: none;
              position: absolute;
              left: 180px;
              top: -1px;
              li {
                border-left: 1px solid #09364d;
              }
            }
          }
        }
      }
    }
  }
}
#header.scroll {
  padding: 10px;
}

// #page {background: $page;}


#page-title {
  position: relative;
  margin-top: 60px;
  img {
    width: 100%;
    height: 100%;
  }
  h1 {
    top: 50%;
    position: absolute;
    left: 50%;
    margin: 0;
    margin-top: -22px;
    margin-left: -480px;
  }
}



#body {
  margin: 20px auto 80px;
  
  // .content {margin: 50px auto;}

/*specific for contact page*/
  #contacts {
    h2 {margin-top: 40px;}
    .contacts {
      margin-bottom: 60px;
    }
    table {
      width: 100%;
      margin: 0px auto;
      padding: 0; 
      caption {
        text-align: left;
        font-size: 1.3em;
        text-transform: uppercase;
        color: $green;
      }
      td {
        display: inline-block;
        width: 460px;
        margin: 0;
        > img {
          float: left;
        }
        > strong {
          padding-left: 10px;
          font-size: 1.2em;
        }
        ul {
        padding-left: 10px;
        list-style: none;
        display: inline-block;
          li {
            padding-bottom: 3px;
          }
          img {
            padding-right: 5px; 
            text-align: left;
          }
        }  
      }  
    }
    #map {
      margin: 50px auto;
      img {
        width: 100%;
      }
    }
    #feedback {
      color: $green;
      input {
        display: block;
        width: 100%;
        background: #E0E0E0;
        height: 25px;
        border: none;
        border-bottom: 1px solid white;
        border-top: 1px solid #c0c0c0;
        margin: 10px 0 20px;
      }
      textarea {
        display: block;
        resize: both;
        min-height: 120px;
        width: 100%;
        max-height: 200px;
        border: none;
        border-bottom: 1px solid white;
        border-top: 1px solid #c0c0c0;
        background: #E0E0E0;
        margin: 10px 0;
      }
    }
  }
  /*end*/

  /*specific for faq page*/
  .accordion {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #C8C8C8;
    dt {
      cursor: pointer;
      line-height: 21px;
      padding-left: 30px;
      background: url("plus.png") left center no-repeat;
      &:hover {
        color: #073D5C;
        background: url("plus-hover.png") left center no-repeat;
      }
    }
    dt.opened, dt.opened:hover {
      background: url("minus.png") left center no-repeat;
    }
    dd {
      margin: 0;
      padding-left: 30px;
      padding-top: 10px;
    }
  }
/*end*/

/*sea page*/
  .interactive-map {
    background: url("bg-mapsea.png") no-repeat;
    height: 400px;
  }

  .rus-map {
    .rus-map_lists {
      height: 60px;
      border-left: 1px solid $green;
      border-right: 1px solid $green;
      ul {
        margin: 10px 0;
        padding-left: 30px;
        float: left;
        li {
          /*list-style-image: url("liststyle.png");
          list-style-position: inside;*/
        }
      }
    }
    .rus-map_pic {
      height: 306px;
      background: url("rus-sea.png") no-repeat center;
    }
    .title-outline.bottom {
      border: 1px solid $title;
      border-top: none;
      margin-top: 0;
      h3.title {
        top: 10px;
      }
    }
  }
  .counter {
    position: relative;
    margin: 50px auto;
    height: 150px;
    background: url('pattern.png') repeat-x;
    .counter_box {
      width: 700px;
      height: 80px;
      position: absolute;
      top: 50%;
      margin-top: -43px;
      left: 50%;
      margin-left: -350px;
      background: white;
      border: 3px solid #062A42;
      border-radius: 6px;
      text-align: center;
      line-height: 80px;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      color: #062A42;
      span {
        background: grey;
      }
    }
  }
  .types {
    color: #585858;
    margin-bottom: 100px;
    img {
      margin-right: 30px;
    }
    .tables {
      margin-top: 20px;
      table {
        margin-right: 30px;
        display: inline-block;
        border-spacing:0;
        border-collapse: collapse;
        th {
          background: #585858;
          color: $grey;
          font-weight: normal;
        }
        tr {
          background: #EBEBEB;
          border: none;
          td, th {
            padding: 3px 10px;
          }
        }
        tr:nth-child(2n) {
          background: #E0E0E0;
        }
      }
    }
  }
  /*end*/
}

.contacts {
  position: relative;
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 5px;
  }
  span {
    display: inline-block;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 20px;
  }
  .contacts_bl-pin {
    background: url("bl-pin.png") 3px center no-repeat;
  }
  .contacts_bl-fax {
    background: url("bl-fax.png") 1px 1px no-repeat;
  }
  .contacts_bl-phone {
    background: url("bl-phone.png") 1px 2px no-repeat;
  }
  .contacts_bl-mail {
    background: url("bl-mail.png") 2px 3px no-repeat;
  }
}


footer {
  background: $footer;
  color: $f-font;
  padding: 50px 0;
  font-size: small;
  h2 {
    padding: 0;
    margin: 0;
  }
  ul {
    margin: 14px auto;
  }
  .contacts_pin {
    background: url("map_pin.png") 3px center no-repeat;
  }
  .contacts_mail {
    background: url("letter.png") 2px 2px no-repeat;
  }
  .contacts_phone {
    background: url("phone.png") 1px 3px no-repeat;
  }
  a {
    color: $f-font;
  }
  .footer_menu {
    ul {
      list-style: none;
      padding: 0;
    }
    > ul {
      margin: 0;
      > li {
        margin-left: 100px;
        vertical-align: top;
        display: inline-block;
        text-align: left;
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: 700;
        a {color: $green;text-decoration: none;}
        li {
          text-align: left;
          font-size: small;
          line-height: 20px;
          margin-bottom: 5px;
          text-transform: none;
          font-weight: normal;
          a {color:  $f-font;text-decoration: underline;}
        }
      }
    }
  }
}
