@import 'variables';


#site_bar {
display: none;
}


body {
  /*background: white;*/
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: $title;
}

h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}

a {
  color: $link;
  text-decoration: underline;
}

#header {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 100;
  @include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.33));
  margin: auto;
  background: white;
  #logo {
    margin: 0;
    display: inline-block;
    float: left;
    a {
      display: block;
      padding-top: 3px;
      text-decoration: none;
      background: white url("logo.png") center no-repeat;
      height: 36px;
      width: 240px;
      font-size: 0px;
    }
  }
  #menu {
    ul {    
      margin: 0;
      list-style: none;
      text-align: right;
      padding: 0px;
      li {
        display: inline-block;
        margin-right: 10px;
        a {
          display: block;
          padding: 5px 10px;
          text-decoration: none;
          line-height: 29px;
          color: $basic;
        }
        &.selected a, a:hover {
          color: $link;
        }
      }
    }
  }
}

#page {
  margin-top: 60px;
  /*background: $page;*/
}

#body {
  .page-title {
    position: relative;
    h1 {
      top: 0;
      position: absolute;
      left: 50%;
      line-height: 170px;
      margin: 0;
      margin-left: -480px;
      color: white;
      font-size: 28px;
      font-weight: 700;
    }
  }
/*specific for contact page*/
  .department {
    margin-bottom: 30px;
  }
  .card-contact img {
    float: left;
    margin: 0 20px 10px 0;
  }
  #feedback {
    color: $green;
    input {
      display: block;
      width: 100%;
    }
  }
/*end*/

/*specific for contact page*/
  .accordion {
    dt {
      padding-left: 30px;
      background: url("plus.png") left center no-repeat;
      &:hover {
        background: url("plus-hover.png") left center no-repeat;
      }
    }
    dt.opened, dt.opened:hover {
      background: url("minus.png") left center no-repeat;
    }
    dd {
      margin: 0;
      padding-left: 30px;
      padding-top: 10px;
    }
  }
/*end*/
}

.contacts {
  position: relative;
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 5px;
  }
  span {
    display: inline-block;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 20px;
  }
  .contacts_bl-pin {
    background: url("bl-pin.png") 3px center no-repeat;
  }
  .contacts_bl-fax {
    background: url("bl-fax.png") 1px 1px no-repeat;
  }
  .contacts_bl-phone {
    background: url("bl-phone.png") 1px 2px no-repeat;
  }
  .contacts_bl-mail {
    background: url("bl-mail.png") 2px 3px no-repeat;
  }
}


footer {
  background: $footer;
  color: $f-font;
  padding: 50px 0;
  font-size: small;
  .contacts_pin {
    background: url("map_pin.png") 3px center no-repeat;
  }
  .contacts_mail {
    background: url("letter.png") 2px 2px no-repeat;
  }
  .contacts_phone {
    background: url("phone.png") 1px 3px no-repeat;
  }
  a {
    color: $f-font;
  }
}