@import 'variables';


#index #body {
  margin: 0 auto;
  margin-bottom: -80px;
  .title-outline {
    text-align: center;
    border: 1px solid $title;
    border-bottom: none;
    height: 20px;
    margin-top: 20px;
    h3.title {
      position: relative;
      font-weight: normal;
      top: -10px;
      display: inline-block;
      margin: 0;
      padding: 0 10px;
      color: $title;
      background: $page;
      text-transform: none;
    }
  }
  ul.index-list {
    padding: 0px;
    text-align: center;
    li {
      display: inline-block;
      width: 100px;
      padding: 0 40px;
      vertical-align: top;
      text-align: center;
      a {
        color: $blue;
        text-decoration: none;
      }
      em {
        display: block;
        height: 100px;
        width: 100px;
        background-color: $grey;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100px;
        margin-bottom: 15px;
        &:hover {
          background-color: $blue;
        }
      }
      .img1 {
        background-image: url("ship.png");
        &:hover {
          background-image: url("ship_active.png");
        };
      }
      .img2 {
        background-image: url("customs.png");
        &:hover {
          background-image: url("customs_hover.png");
        };
      }
      .img3 {
        background-image: url("auto_rail.png");
        &:hover {
          background-image: url("auto_rail_hover.png");
        };
      }
      .img4 {
        background-image: url("warehouse.png");
        &:hover {
          background-image: url("warehouse_hover.png");
        };
      }
      .img5 {
        background-image: url("big_truck.png");
        &:hover {
          background-image: url("big_truck_hover.png");
        };
      }
    }
  }
  .body {
    position: relative;
    z-index: 99;
    background: $page;
  }
}


.slider-space {
  /*height: 440px;*/
}

@media (max-width: 1366px) {
  #slider {
    max-height: 400px;
  }
  .bx-viewport {
    max-height: 400px;
  }
}


#slider {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  .bx-wrapper .bx-controls-direction a {
    margin-top: -10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
    }
    li.active {
      display: block;
    }
  }

  .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -480px;
    .slider-title {
      background-color: rgba(41,141,44, 0.7);
      background-color: rgb(41,141,44)\9;
      float: left;
      h2 {
        color: white;
        padding: 15px 25px;
        margin: 0;
      }
    }
    .slider-text {
      background-color: rgba(5,48,71, 0.7);
      background-color: rgb(5,48,71)\9;
      clear: left;
      float: left;
      margin-top: 20px;
      max-width: 60%;
      p {
        margin: 0;
        color: white;
        padding: 15px 25px;
      }
    }
  }
}
.activity {
  padding-top: 60px;
  margin-bottom: 60px;
}



#plugin {
  background: $grey;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 60px;
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 30px 0;
    li {
      display: inline-block;
      padding: 0 40px;
      .number {
        font-size: 54px;
        display: block;
        font-weight: 700;
        color: $title;
      }
    }
  }
}
.plugin-space {
  margin-top: 200px;
}


#time {
  width: 100%;
  padding-top: 50px;
  background: url("bg-time.png") center no-repeat;
  height: 320px;
  .zone-clock {
    list-style: none;
    padding: 0;
    li {
      padding: 0 30px;
    }
  }
}
.time-space {
  margin-top: 370px;
}
